@media (max-width:1024px) {
    .content{
        flex-wrap: wrap;
        column-gap: 15px;
        row-gap: 15px;
    }
    .common{
        flex: 0 0 calc(50% - 7.5px);
        flex-direction: column;
    }
   
}